body {
  margin: 0;
  padding: 0;
  font-family:system-ui;
  font-size: 16px;
  overflow: hidden;
}



/*details:focus,
details:focus-within,
details:hover {
   background:#ffeb3b; 
   outline:2px #000 solid; 
}*/

details ul li {

}

details[open] summary {
  margin-bottom: 1rem;
}

summary {
  cursor:pointer;
}

summary:hover {
  opacity:.75;
}

.feed-url {
  color:#aaa;
}

.app {
  display: flex;
  gap: 1rem;
  padding: 0 0rem 1rem 1rem;
}

.sidebar {
  flex: 1;
}

article.item {
  padding: 0.25rem 0;
}

article.item header.item__header {
  font-size: 17px;
  font-weight: 600;
}

ul.article-links {
  list-style: none;
  padding-left: 0;
}

ul.article-links > li {
  display:  inline-block;
  margin-right: .5rem;
}

main {
  flex: 3;
  height: 100vh;
  overflow-y: auto;
}

section {
  /* ! Everything below is needed ! */
  display: none;
  height: 100%;
  width: 100%;
}

section > h2 {
  margin-top: 0;
  padding-top: 19px;
}

section:target { /* Show section */
  display: block;
}

section#none { /* Show #home by default */
  display: block;
}