body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 16px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #ddd;
    }

    article.item {
      background-color: rgba(255, 255, 255, 0.025) !important;
    }
}

h1, h2, h3 {
  font-family: monospace;
}

a:link {
    color: inherit;
}

a:visited {
  color: #b58c8c;
}

a:hover {
  opacity: .75;
}

details {
  padding: 0.65rem 0;
}

details[open] summary {
  margin-bottom: 1rem;
}

summary {
  user-select: none;
  cursor:pointer;
  font-family: monospace;
}

summary:hover {
  opacity:.75;
}

.group-selector a,
.group-selector a:visited {
  color: inherit;
}

.feed-title {
  font-weight: 600;
  font-size: 17px;
}

.feed-url, .feed-timestamp {
  color:#aaa;
}

.feed-url {
  font-size: ;
}

.feed-timestamp {
  margin-left: 1.45rem;
}

.monospace {
  font-family: monospace;
}

.app {
  display: flex;
  gap: 2rem;
  padding: 0 0rem 1rem 1rem;
}

.sidebar {
  /*font-family: monospace;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 5;
  height: 100vh;
  overflow-y: auto;
  padding-right: 8rem;
}

article.item {
  padding: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.025);
}

article.item:first-of-type {
  margin-top: 0;
}

article.item:last-of-type {
  margin-bottom: 0;
}

article.item header.item__header {
  font-size: 17px;
}

ul.article-links {
  list-style: none;
  padding-left: 0;
}

ul.article-links > li {
  display:  inline-block;
  margin-right: .5rem;
}

footer {
  opacity: 0.25;
  font-size: 0.75em;
}

footer:hover {
  opacity: 1;
}

section {
  /* ! Everything below is needed ! */
  display: none;
  height: 100%;
  width: 100%;
}

section > h2 {
  margin-top: 0;
  padding-top: 19px;
}

section:target { /* Show section */
  display: block;
}

section#none { /* Show #home by default */
  display: block;
}