<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🦉 Bubo Reader</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>🦉 Bubo Reader</h1>

  <% for (let group of it.groups) { %>
    <h2><%= group[0] %></h2>
    <% for (let feed of group[1]) { %>
      <details>
        <summary>
          <span class="feed-title"><%= feed.title %></span> 
          <span class="feed-url">(<%= feed.feed %>)</span>
        </summary>
        <ul>
          <% for (let item of feed.items) { %>
            <li>
              <%= item.timestamp %> - <a href="<%= item.link %>" target='_blank' rel='noopener norefferer nofollow'><%= item.title %></a>
            </li>
          <% } %>
        </ul>
      </details>
    <% } %>
  <% } %>

  <% if (it.errors.length > 0) { %>
    <h2>Errors</h2>
    <p>There were errors trying to parse these feeds:</p>
    <ul>
    <% for (let error of it.errors) { %>
      <li><%= error %></li>
    <% } %>
    </ul>
  <% } %>
  <hr>
  <p>
    Last updated <%= it.now %>. Powered by <a href="https://github.com/georgemandis/bubo-rss">Bubo Reader</a>, a project by <a href="https://george.mand.is">George Mandis</a>
  </p>
</body>
</html>