name: builder
on:
  push:
    branches:
      - main
  schedule:
    # Run this script every 2 hrs
    #  */m hr day month day_of_week
    - cron:  '0 */2 * * *'
  workflow_dispatch:
    inputs:
      tags:
        description: 'tag'  
jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Install and Run Node Script
        run: |
          npm install --omit=dev
          npm run build
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          single-commit: true
          git-config-email: <>
          branch: gh-pages
          folder: output
